.axis path, .axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
}

.axis.y text {
    cursor: pointer;
}

.selection {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
}

.threshold {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 9, 5;
}
.selected {
    font-weight: bold;
}

rect.selected {
    stroke: gray;
    stroke-width: 2px;
}